@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: #fefefe;
}

header {
    padding: 40px 50px;

    h1 {
        display: inline-block;
        width: 350px;
        font-size: 50px;
        font-weight: bold;
        border-bottom: solid 3px #000000;
        background: linear-gradient(0deg, #ff92c7, #fde2e4) no-repeat right bottom / 0 var(--bg-h);
        transition: background-size 350ms;
        --bg-h: 100%;
    }

    h1:where(:hover, :focus-visible) {
        background-size: 100% var(--bg-h);
        background-position-x: left;
    }
}

.header-container {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    bottom: -4px;
    left: 361px;

    @media screen and (max-width: 480px) {
        position: unset;
        margin: 10px 0;
    }

    li {
        display: inline;
        margin: 0 15px 0 0;
    }

    a {
        color: #000000;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
    }

    a:hover {
        color: #ff92c7;
    }
}

.main-container {
    width: 80%;
    display: flex;
    margin: 0 auto;
    padding: 0 10px;

    @media screen and (max-width: 480px) {
        display: flex;
        flex-direction: column;
        padding: unset;
    }
    @media all and (min-width: 480px) and (max-width: 768px){
        display: flex;
        flex-direction: column;
        padding: unset;
    }

    @media all and (min-width: 768px) and (max-width: 1024px) { 
        display: flex;
        flex-direction: column;
        padding: unset;
    }

}

.input-general,
.input-mobile {
    width: 100%;
    flex: 50%;
    padding: 50px;

    @media screen and (max-width: 480px) {
        padding: 10px;
    }
    @media all and (min-width: 480px) and (max-width: 768px){
        padding: 10px;
    }
    @media all and (min-width: 768px) and (max-width: 1024px){
        padding: 10px;
    }

    ul {
    }

    li {
        margin: 0 0 18px 0;
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    h3 {
        font-size: 12px;
        margin-bottom: 20px;
    }

    label:not(#checkbox, #radio) {
        text-align: left;
        display: block;
        padding: 0 0px 4px 2px;
    }

    input,
    textarea {
        width: 80%;
        padding: 8px;
        border-radius: 5px;
        border: solid 2px #000000;

        &:hover {
            outline: none !important;
            border: 2px solid #dfa9d6;
        }

        &:focus {
            outline: none !important;
            border: 2px solid #dfa9d6;
        }

        @media screen and (max-width: 480px) {
            width: 80%;
        }
        @media all and (min-width: 480px) and (max-width: 768px){
            width: 80%;
        }
        @media all and (min-width: 768px) and (max-width: 1024px){
            width: 80%;
        }
    }

    #color {
        padding: unset;
    }

    #checkbox, #radio {
        vertical-align: middle;
        width: unset;
    }

    textarea {
        resize: vertical;
    }
}

footer {
    text-align: center;
    width: 100%;
    color: black;
    font-size: 14px;
}

.copyright {
    padding: 20px;
    color: #000000;
    font-size: 16px;
}
