@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

header {
    padding: 40px 30px;

    h1 {
        display: inline-block;
        width: 20%;
        font-size: 50px;
        font-weight: bold;
        border-bottom: solid 3px #000000;
    }

    h1:hover {
        background: #dfa9d6;
    }
}

.header-container {
    width: 100%;
    position: sticky;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 0;
    right: 30px;

    @media screen and (max-width: 480px) {
        position: relative;
        margin: 20px;
    }

    li {
        display: inline;
        margin: 0 0 0 15px;
    }

    a {
        color: #000000;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
    }

    a:hover {
        color: #ecd19b;
        text-decoration: underline;
    }
}
.input-types {
    width: 100%;
    margin: 0 auto;
    padding: 30px;

    li {
        display: flex;
        flex-direction: column;
        margin: 0 0 20px 0;
    }

    label {
        padding: 0 0px 4px 2px;
    }

    input,
    textarea {
        width: 20%;
        padding: 8px;

        &:hover {
            border-color: #dfa9d6;
        }
    }
}
